/* https://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

body{
  background-color: #ebebe0;
  font-family: "Fira Sans";
  overflow-y: hidden;
}

/************** MAIN TAB ***********/

.main_tab{
  position: absolute;
  display: block;
  width: 100%;
  margin: 0%;
  height: 90%;
  margin-top: 6%;
  left: 0%;
  z-index: -2;
}

#continents_view{
  visibility: visible;
}

#countries_view{
  visibility: hidden;
}

#world_graph, #countries_graph{
  position: relative;
  display: inline-block;
  float:left;
  width: 55%;
  height: 60%;
  margin: 0%;
  top: 0%;
  left: 0%;
  padding: 0%;
  margin-left: 0.5%;
  margin-top: -3%;
  z-index: -3;
}

#graphs{
  position: relative;
  display: inline-block;
  float: right;
  width: 44% !important;
  margin: 0% !important;
  padding: 0%;
  height: 53%;
}

#bottomgraphs{
  position: relative;
  display: inline-block;
  width: 100% !important;
  height: 40% !important;
  margin: 0% !important;
  right: 0% !important;
  padding: 0%;
  top:0%;
}

#stackBarChartCont{
  position: relative;
  display: block;
  width: 90% !important;
  height: 100% !important;
  margin: 0%;
  margin-right: 5%;
  margin-top: 0%;
  padding: 0%;
}

#stackAreaChartCont{
  position: relative;
  display: inline-block;
  width: 50% !important;
  height: 100% !important;
  margin: 0%;
  left:2%;
  padding: 0%;
}

#floatingBarChartCont{
  position: relative;
  display: inline-block;
  width: 40% !important;
  height: 100% !important;
  margin: 0%;
  left:5%;
  padding: 0%;
}

#legend1{
  position: relative;
  display:inline-block;
  margin:0%;
  padding: 0%;
  left:0%!important;
  margin-top: 10%;
  float: right;
}

#chart{
  position: relative;
  display: inline-block;
  width: 85%;
  height: 100%;
  margin-top:5%;
}

.second-header{
  position: fixed;
  display:grid;
  width: 100%;
  margin: 0%;
  height: 4%;
  top: 4%;
  left: 0%;
  margin-bottom: 10%;
}

#country2014{
  position: relative;
  display:block;
  align-content: center;
  align-self: center;
  text-align: center;
  margin: auto;
  font-size: 22px;
  font-family: "Fira Sans";
  z-index: 1;
  top: 102%;
}




/************ SEARCH **********/

.search-container, .search-container-continent {
  position: relative;
  display: inline-grid;
  margin: auto;
  margin-left: 7.5%;
  margin-right: 0%;
  grid-column-start: 0;
  grid-column-end: 1;
}
.autocomplete, .autocomplete-continent {
  position: relative;
  display: inline-block;
  width: 40%;
  height: 100%;


}
.search-container input {
  position: relative;
  border: 1px solid #b9b992;
  -webkit-box-shadow: inset 0 1px rgba(255, 255, 255, 0.5), 0 0 2px rgba(0, 0, 0, 0.2);
  box-shadow: inset 0 1px rgba(255, 255, 255, 0.5), 0 0 2px rgba(0, 0, 0, 0.2);
  background-color: #ebebe0;
  padding: 10px;
  font-size: 16px;
  width: 100%;
  height: 30%;
  top:20%;
  margin-right: 0%;

}
.search-container-continent input {
  position: relative;
  border: 1px solid #b9b992;
  -webkit-box-shadow: inset 0 1px rgba(255, 255, 255, 0.5), 0 0 2px rgba(0, 0, 0, 0.2);
  box-shadow: inset 0 1px rgba(255, 255, 255, 0.5), 0 0 2px rgba(0, 0, 0, 0.2);
  background-color: #ebebe0;
  padding: 10px;
  font-size: 16px;
  width: 100%;
  height: 30%;
  top:20%;
  margin-right: 0%;

}
.search-container input[type=text] {
  background-color: #ebebe0;
  border-radius: 3px;

}
.search-container-continent input[type=text] {
  background-color: #ebebe0;
  border-radius: 3px;

}
.search-container input[type=submit] {
  position: relative;
  border-radius: 3px;
  background-color: white;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #9dd993), color-stop(100%, #65bd63));
  background-image: -webkit-linear-gradient(top, #b9b992, #ffdf80);
  background-image: -moz-linear-gradient(top, #b9b992, #ffdf80);
  background-image: -ms-linear-gradient(top, #b9b992, #ffdf80);
  background-image: -o-linear-gradient(top, #b9b992, #ffdf80);
  background-image: linear-gradient(top, #b9b992, #ffdf80);
  -webkit-box-shadow: inset 0 1px rgba(255, 255, 255, 0.5), 0 0 2px rgba(0, 0, 0, 0.2);
  box-shadow: inset 0 1px rgba(255, 255, 255, 0.5), 0 0 2px rgba(0, 0, 0, 0.2);
  color:white;
  width: 20%;
  height: 80%;
  top:20%;
  text-align: center;
  align-content: center;
  padding: 5px;
  margin-left: 5%;

}
.search-container-continent input[type=submit] {
  position: relative;
  border-radius: 3px;
  background-color: white;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #9dd993), color-stop(100%, #65bd63));
  background-image: -webkit-linear-gradient(top, #b9b992, #ffdf80);
  background-image: -moz-linear-gradient(top, #b9b992, #ffdf80);
  background-image: -ms-linear-gradient(top, #b9b992, #ffdf80);
  background-image: -o-linear-gradient(top, #b9b992, #ffdf80);
  background-image: linear-gradient(top, #b9b992, #ffdf80);
  -webkit-box-shadow: inset 0 1px rgba(255, 255, 255, 0.5), 0 0 2px rgba(0, 0, 0, 0.2);
  box-shadow: inset 0 1px rgba(255, 255, 255, 0.5), 0 0 2px rgba(0, 0, 0, 0.2);
  color:white;
  width: 20%;
  height: 80%;
  top:20%;
  text-align: center;
  align-content: center;
  padding: 5px;
  margin-left: 5%;

}
.autocomplete-items {
  position: absolute;
  border: 1px solid #d4d4d4;
  border-bottom: none;
  border-top: none;
  z-index: 99;
  /*position the autocomplete items to be the same width as the container:*/
  top: 100%;
  left: 0;
  right: 0;
}
.autocomplete-items div {
  padding: 10px;
  cursor: pointer;
  background-color: #fff;
  border-bottom: 1px solid #d4d4d4;
}
.autocomplete-items div:hover {
  /*when hovering an item:*/
  background-color: #e9e9e9;
}
.autocomplete-active {
  /*when navigating through the items using the arrow keys:*/
  background-color: #b9b992 !important;
  -webkit-box-shadow: inset 0 1px rgba(255, 255, 255, 0.5), 0 0 2px rgba(0, 0, 0, 0.2);
  box-shadow: inset 0 1px rgba(255, 255, 255, 0.5), 0 0 2px rgba(0, 0, 0, 0.2);

  color: #ffffff;
}



/***********SELECT MEASURE ***********/

#selectMeasure{ /*here*/
  position: :relative;
  display:inline-grid;
  grid-column-start: 8;
  grid-column-end: 9;
  margin: auto;
  margin-left: -100%;
  left: -9%;
  margin-top: 15%;
  height: 95%;
  width: 50%;

}

#selectMeasure select{
  border-radius: 3px;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #9dd993), color-stop(100%, #65bd63));
  background-image: -webkit-linear-gradient(top, #b9b992, #ffdf80);
  background-image: -moz-linear-gradient(top, #b9b992, #ffdf80);
  background-image: -ms-linear-gradient(top, #b9b992, #ffdf80);
  background-image: -o-linear-gradient(top, #b9b992, #ffdf80);
  background-image: linear-gradient(top, #b9b992, #ffdf80);
  -webkit-box-shadow: inset 0 1px rgba(255, 255, 255, 0.5), 0 0 2px rgba(0, 0, 0, 0.2);
  box-shadow: inset 0 1px rgba(255, 255, 255, 0.5), 0 0 2px rgba(0, 0, 0, 0.2);
  color:white;
  text-align: center;
  align-content: center;
  border: 1px solid #d4d4d4;
  background-color: #b9b992 !important;
  -webkit-box-shadow: inset 0 1px rgba(255, 255, 255, 0.5), 0 0 2px rgba(0, 0, 0, 0.2);
  box-shadow: inset 0 1px rgba(255, 255, 255, 0.5), 0 0 2px rgba(0, 0, 0, 0.2);
  height: 60%;
}



/*******TOGGLE SWITCH ********/

.container {
  position: fixed;
  display:  block;
  top: 0%;
  left: 0%;
  margin: 0;
  width: 100%;
  height: 6%;  /*here*/
  background-color: false;
}

#container_eb{
  background-color: false;
  position: relative;
  display:inline-grid;
  grid-column-start: 1;
  grid-column-end: 8;
  margin: auto !important;
  margin-left: 0% !important;
  left: 6% !important; /*here*/
  width: 60% !important;
  height: 83% !important; /*here*/
  margin-top: 1% !important;
  background-color: false;
}

.switch {
  position: relative;
  height: 68%;
  width: 100%;
  margin: 0%;
  background-color: #ebebe0;
  -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.1);
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.1);
}

#switch_eb{
  position: relative;
  height: 68%;
  width: 100%;
  margin: auto;
  background-color: transparent;
  -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.1);
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.1);
  border-radius: 25px;
}

.switch-label {
  position: relative;
  z-index: 2;
  float: left;
  width: 48%;
  line-height: 198%;
  font-size: 18px;
  font-family: "Fira Sans";
  color: #d7d7c1;
  text-align: center;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.45);
  cursor: pointer;
}
.switcheblabel {
  position: relative;
  z-index: 2;
  float: left;
  width: 48%;
  line-height: 160%;
  font-size: 14px;
  font-family: "Fira Sans";
  color: #d7d7c1;
  text-align: center;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.45);
  cursor: pointer;
}
.switcheblabelc {
  position: relative;
  z-index: 2;
  float: left;
  width: 48%;
  line-height: 160%;
  font-size: 14px;
  font-family: "Fira Sans";
  color: #d7d7c1;
  text-align: center;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.45);
  cursor: pointer;
}
.switch-label:active {
  position: :relative;

  font-weight: bold;
  color: #888844;
}
.switcheblabel:active, .switcheblabelc:active {
  position: :relative;
  font-weight: bold;
  color: #888844;
}
.switch-label-off, .switcheblabeloff , .switcheblabeloffc{
  position: :relative;
  padding-left: 2px;
}
.switch-label-on, .switcheblabelon, .switcheblabelonc {
  position: :relative;
  padding-right: 2px;
}
.switch-input, .switchebinput, .switchebinputc {
  display: none;
}
.switch-input:checked + .switch-label, .switchebinput:checked + .switcheblabel , .switchebinputc:checked + .switcheblabelc {
  font-weight: bold;
  color: #77773c;
  position: :relative;
  text-shadow: 0 1px rgba(255, 255, 255, 0.25);
  -webkit-transition: 0.15s ease-out;
  -moz-transition: 0.15s ease-out;
  -ms-transition: 0.15s ease-out;
  -o-transition: 0.15s ease-out;
  transition: 0.15s ease-out;
  -webkit-transition-property: color, text-shadow;
  -moz-transition-property: color, text-shadow;
  -ms-transition-property: color, text-shadow;
  -o-transition-property: color, text-shadow;
  transition-property: color, text-shadow;
}
.switch-input:checked + .switch-label-on ~ .switch-selection, .switchebinput:checked + .switcheblabelon ~ .switchebselection , .switchebinputc:checked + .switcheblabelonc ~ .switchebselectionc {
  position: :relative;
  left: 50%;
  /* Note: left: 50%; doesn't transition in WebKit */
}
.switch-selection {
  position: absolute;
  z-index: 1;
  top: 7%;
  left: 0.3%;
  display: block;
  width: 49.7%;
  height: 85%;
  border-radius: 3px;
  background-color: white;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #9dd993), color-stop(100%, #65bd63));
  background-image: -webkit-linear-gradient(top, #b9b992, #ffdf80);
  background-image: -moz-linear-gradient(top, #b9b992, #ffdf80);
  background-image: -ms-linear-gradient(top, #b9b992, #ffdf80);
  background-image: -o-linear-gradient(top, #b9b992, #ffdf80);
  background-image: linear-gradient(top, #b9b992, #ffdf80);
  -webkit-box-shadow: inset 0 1px rgba(255, 255, 255, 0.5), 0 0 2px rgba(0, 0, 0, 0.2);
  box-shadow: inset 0 1px rgba(255, 255, 255, 0.5), 0 0 2px rgba(0, 0, 0, 0.2);
  -webkit-transition: left 0.15s ease-out;
  -moz-transition: left 0.15s ease-out;
  -ms-transition: left 0.15s ease-out;
  -o-transition: left 0.15s ease-out;
  transition: left 0.15s ease-out;
}
.switchebselection, .switchebselectionc {
  position: relative;
  z-index: 1;
  top: 7%;
  left: 0.3%;
  display: block;
  width: 49.7%;
  height: 85%;
 border-radius: 25px;
 background-color: white;
 background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #9dd993), color-stop(100%, #65bd63));
 background-image: -webkit-linear-gradient(top, #b9b992, #ffdf80);
 background-image: -moz-linear-gradient(top, #b9b992, #ffdf80);
 background-image: -ms-linear-gradient(top, #b9b992, #ffdf80);
 background-image: -o-linear-gradient(top, #b9b992, #ffdf80);
 background-image: linear-gradient(top, #b9b992, #ffdf80);
 -webkit-box-shadow: inset 0 1px rgba(255, 255, 255, 0.5), 0 0 2px rgba(0, 0, 0, 0.2);
 box-shadow: inset 0 1px rgba(255, 255, 255, 0.5), 0 0 2px rgba(0, 0, 0, 0.2);
 -webkit-transition: left 0.15s ease-out;
 -moz-transition: left 0.15s ease-out;
 -ms-transition: left 0.15s ease-out;
 -o-transition: left 0.15s ease-out;
 transition: left 0.15s ease-out;

}
.switch-blue .switch-selection, .switch-blue .switchebselection, .switch-blue .switchebselectionc {
  position: :relative;
  background-color: #white;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #4fc9ee), color-stop(100%, #3aa2d0));
  background-image: -webkit-linear-gradient(top, #4fc9ee, #3aa2d0);
  background-image: -moz-linear-gradient(top, #4fc9ee, #3aa2d0);
  background-image: -ms-linear-gradient(top, #4fc9ee, #3aa2d0);
  background-image: -o-linear-gradient(top, #4fc9ee, #3aa2d0);
  background-image: linear-gradient(top, #4fc9ee, #3aa2d0);
}




/********** TIMELINE ********/

#onlyTimeline{
  position: absolute;
  display: block;
  width: 100%;
  height: 9%;
  bottom: 0% !important;
  margin-bottom: 0% !important;

}


/********************** TOOLTIP *******************/

div.tooltip {
    position: absolute !important;
    text-align: center;
    z-index: 10;
    width: 100px;
    height: 60px;
    padding: 2px;
    font: 10px sans-serif;
    border: 0px;
    border-radius: 8px;
    pointer-events: none;
    border-radius: 3px;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #9dd993), color-stop(100%, #65bd63));
    background-image: -webkit-linear-gradient(top, #b9b992, #ffdf80);
    background-image: -moz-linear-gradient(top, #b9b992, #ffdf80);
    background-image: -ms-linear-gradient(top, #b9b992, #ffdf80);
    background-image: -o-linear-gradient(top, #b9b992, #ffdf80);
    background-image: linear-gradient(top, #b9b992, #ffdf80);
    -webkit-box-shadow: inset 0 1px rgba(255, 255, 255, 0.5), 0 0 2px rgba(0, 0, 0, 0.2);
    box-shadow: inset 0 1px rgba(255, 255, 255, 0.5), 0 0 2px rgba(0, 0, 0, 0.2);
    -webkit-transition: left 0.15s ease-out;
    -moz-transition: left 0.15s ease-out;
    -ms-transition: left 0.15s ease-out;
    -o-transition: left 0.15s ease-out;
    transition: left 0.15s ease-out;
}

.tooltipstackedbar {
    position: absolute;
    text-align: center;
    z-index: 10;
    width: 100px;
    height: 60px;
    padding: 2px;
    font: 10px sans-serif;
    border: 0px;
    border-radius: 8px;
    pointer-events: none;
    border-radius: 3px;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #9dd993), color-stop(100%, #65bd63));
    background-image: -webkit-linear-gradient(top, #b9b992, #ffdf80);
    background-image: -moz-linear-gradient(top, #b9b992, #ffdf80);
    background-image: -ms-linear-gradient(top, #b9b992, #ffdf80);
    background-image: -o-linear-gradient(top, #b9b992, #ffdf80);
    background-image: linear-gradient(top, #b9b992, #ffdf80);
    -webkit-box-shadow: inset 0 1px rgba(255, 255, 255, 0.5), 0 0 2px rgba(0, 0, 0, 0.2);
    box-shadow: inset 0 1px rgba(255, 255, 255, 0.5), 0 0 2px rgba(0, 0, 0, 0.2);
    -webkit-transition: left 0.15s ease-out;
    -moz-transition: left 0.15s ease-out;
    -ms-transition: left 0.15s ease-out;
    -o-transition: left 0.15s ease-out;
    transition: left 0.15s ease-out;
}

.tooltipfloatingcontinent {
    position: absolute;
    text-align: center;
    z-index: 10;
    width: 100px;
    height: 60px;
    padding: 2px;
    font: 10px sans-serif;
    border: 0px;
    border-radius: 8px;
    pointer-events: none;
    border-radius: 3px;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #9dd993), color-stop(100%, #65bd63));
    background-image: -webkit-linear-gradient(top, #b9b992, #ffdf80);
    background-image: -moz-linear-gradient(top, #b9b992, #ffdf80);
    background-image: -ms-linear-gradient(top, #b9b992, #ffdf80);
    background-image: -o-linear-gradient(top, #b9b992, #ffdf80);
    background-image: linear-gradient(top, #b9b992, #ffdf80);
    -webkit-box-shadow: inset 0 1px rgba(255, 255, 255, 0.5), 0 0 2px rgba(0, 0, 0, 0.2);
    box-shadow: inset 0 1px rgba(255, 255, 255, 0.5), 0 0 2px rgba(0, 0, 0, 0.2);
    -webkit-transition: left 0.15s ease-out;
    -moz-transition: left 0.15s ease-out;
    -ms-transition: left 0.15s ease-out;
    -o-transition: left 0.15s ease-out;
    transition: left 0.15s ease-out;
}

.tooltipstackedarea {
    position: absolute;
    text-align: center;
    z-index: 10;
    width: 100px;
    height: 60px;
    padding: 2px;
    font: 10px sans-serif;
    border: 0px;
    border-radius: 8px;
    pointer-events: none;
    border-radius: 3px;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #9dd993), color-stop(100%, #65bd63));
    background-image: -webkit-linear-gradient(top, #b9b992, #ffdf80);
    background-image: -moz-linear-gradient(top, #b9b992, #ffdf80);
    background-image: -ms-linear-gradient(top, #b9b992, #ffdf80);
    background-image: -o-linear-gradient(top, #b9b992, #ffdf80);
    background-image: linear-gradient(top, #b9b992, #ffdf80);
    -webkit-box-shadow: inset 0 1px rgba(255, 255, 255, 0.5), 0 0 2px rgba(0, 0, 0, 0.2);
    box-shadow: inset 0 1px rgba(255, 255, 255, 0.5), 0 0 2px rgba(0, 0, 0, 0.2);
    -webkit-transition: left 0.15s ease-out;
    -moz-transition: left 0.15s ease-out;
    -ms-transition: left 0.15s ease-out;
    -o-transition: left 0.15s ease-out;
    transition: left 0.15s ease-out;
}

.avatar {
  vertical-align: middle;
  width: 30px;
  height: 30px;
  border-radius: 50%;
}


/********************** BLUR *******************/

.is-blurred {
    -webkit-filter: blur(2px);
    -moz-filter: blur(2px);
    -o-filter: blur(2px);
    -ms-filter: blur(2px);
    filter: blur(2px);
}

.Modal {
  display: block;
  position: fixed;
  width: 55%;
  height: 40%;
  margin: 0%;
  top: 0%;
  left: 0%;
  padding: 0%;
  margin-left: 0.5%;
  margin-top: 7%;
  z-index: 9;
  padding-top: 2%;
  -webkit-transition: 0.5s;
  overflow: auto;
  transition: all 0.3s linear;
}

.Modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border-radius: 4px;
  max-width: 300px;
  height: 450px;
}

.ModalOpen { overflow: hidden; }

.is-hidden { display: none; }

.is-visuallyHidden { opacity: 0; }

.Close {
  color: #aaaaaa;
  float: right;
  font-size: 20px;
  margin-top: 10%;
}

.Close:hover, .Close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}



/********************** FILTERING OPTIONS *******************/

#filterdivstackedAreaCC{
  position: relative;
  display: none;
  margin-top:-5% !important;
  width:35%;
  margin-left: 6% !important;
}

.buttonfilterstackedAreaCC{
  text-align: center;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.45);
  cursor: pointer;
  border-radius: 10px;
  background-color: white;
  color: #888844;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #9dd993), color-stop(100%, #65bd63));
  background-image: -webkit-linear-gradient(top, #b9b992, #ffdf80);
  background-image: -moz-linear-gradient(top, #b9b992, #ffdf80);
  background-image: -ms-linear-gradient(top, #b9b992, #ffdf80);
  background-image: -o-linear-gradient(top, #b9b992, #ffdf80);
  background-image: linear-gradient(top, #b9b992, #ffdf80);
  -webkit-box-shadow: inset 0 1px rgba(255, 255, 255, 0.5), 0 0 2px rgba(0, 0, 0, 0.2);
  box-shadow: inset 0 1px rgba(255, 255, 255, 0.5), 0 0 2px rgba(0, 0, 0, 0.2);
  -webkit-transition: left 0.15s ease-out;
  -moz-transition: left 0.15s ease-out;
  -ms-transition: left 0.15s ease-out;
  -o-transition: left 0.15s ease-out;
  transition: left 0.15s ease-out;
}
